<style>
      .show--payments{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--Other-Gap-9, 16px);
  align-self: stretch;
padding: var(--Other-Gap-11, 24px) var(--Other-Gap-9, 16px);
background: var(--Color-Gray-100, #F5F5F4);
      .payment--container{
   display: flex;
  align-items: center;
  gap: var(--Other-Gap-5, 8px);
      }
      .bottom-content--container p{
   color: var(--Color-Gray-950, #0C0A09);
  text-align: center;
  margin: 0;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
      }
  }
</style>

<div class="show--payments">
  <div class="payment--container">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="25" viewBox="0 0 45 25" fill="none">
      <g clip-path="url(#clip0_171_4316)">
        <path d="M40.6721 0.96582H4.33205C1.94681 0.96582 0.0131836 2.82082 0.0131836 5.10908V20.7942C0.0131836 23.0825 1.94681 24.9375 4.33205 24.9375H40.6721C43.0573 24.9375 44.991 23.0825 44.991 20.7942V5.10908C44.991 2.82082 43.0573 0.96582 40.6721 0.96582Z" fill="#FFB3C7"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M40.7802 15.0362C40.1917 15.0362 39.7147 15.4979 39.7147 16.0676C39.7147 16.6372 40.1917 17.0991 40.7802 17.0991C41.3686 17.0991 41.8458 16.6372 41.8458 16.0676C41.8458 15.4979 41.3687 15.0362 40.7802 15.0362ZM37.2746 14.2387C37.2746 13.4588 36.586 12.8267 35.7365 12.8267C34.887 12.8267 34.1983 13.4588 34.1983 14.2387C34.1983 15.0186 34.8869 15.6509 35.7365 15.6509C36.5861 15.6509 37.2746 15.0186 37.2746 14.2387ZM37.2803 11.4942H38.9779V16.983H37.2803V16.6322C36.8007 16.9488 36.2219 17.1349 35.5975 17.1349C33.9452 17.1349 32.6056 15.8383 32.6056 14.2387C32.6056 12.6391 33.9452 11.3425 35.5975 11.3425C36.2219 11.3425 36.8008 11.5286 37.2803 11.8454V11.4942ZM23.695 12.2092V11.4943H21.957V16.983H23.6989V14.4204C23.6989 13.5558 24.6669 13.0911 25.3386 13.0911C25.3455 13.0911 25.3519 13.0918 25.3588 13.0918V11.4948C24.6694 11.4948 24.0354 11.7804 23.695 12.2092ZM19.3656 14.2387C19.3656 13.4588 18.6769 12.8267 17.8273 12.8267C16.9778 12.8267 16.2891 13.4588 16.2891 14.2387C16.2891 15.0187 16.9778 15.651 17.8273 15.651C18.6769 15.651 19.3656 15.0187 19.3656 14.2387ZM19.3712 11.4943H21.0688V16.983H19.3712V16.6322C18.8916 16.9488 18.3127 17.135 17.6884 17.135C16.036 17.135 14.6965 15.8383 14.6965 14.2387C14.6965 12.6391 16.036 11.3425 17.6884 11.3425C18.3127 11.3425 18.8916 11.5287 19.3712 11.8454V11.4943ZM29.5891 11.3466C28.911 11.3466 28.2692 11.5504 27.8401 12.1127V11.4946H26.1498V16.983H27.8609V14.0987C27.8609 13.264 28.4391 12.8553 29.1353 12.8553C29.8813 12.8553 30.3103 13.2868 30.3103 14.0874V16.983H32.0058V13.4927C32.0058 12.2154 30.9568 11.3466 29.5891 11.3466ZM12.2237 16.983H14.0005V9.04833H12.2237V16.983ZM4.41846 16.9853H6.29993V9.04689H4.41846V16.9853ZM10.9992 9.04689C10.9992 10.7655 10.3074 12.3642 9.07456 13.5525L11.6753 16.9855H9.35142L6.52502 13.2546L7.25447 12.7258C8.46417 11.8485 9.15803 10.5077 9.15803 9.04688L10.9992 9.04689Z" fill="#0A0B09"/>
      </g>
      <defs>
        <clipPath id="clip0_171_4316">
          <rect width="45" height="24" fill="white" transform="translate(0 0.949219)"/>
        </clipPath>
      </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="30" viewBox="0 0 45 30" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M29.3616 10.2967C29.3434 10.4145 29.3223 10.535 29.2988 10.6587C28.4878 14.8397 25.713 16.284 22.1692 16.284H20.3648C19.9314 16.284 19.5661 16.5999 19.4987 17.0292L18.3133 24.5793C18.2694 24.8612 18.4857 25.1151 18.7689 25.1151H21.9692C22.3481 25.1151 22.67 24.8387 22.7297 24.4635L22.7611 24.3003L23.3637 20.461L23.4024 20.2504C23.4614 19.8739 23.7841 19.5973 24.1629 19.5973H24.6415C27.7421 19.5973 30.1695 18.3334 30.8789 14.6757C31.1751 13.1478 31.0218 11.872 30.2376 10.9747C30.0003 10.7042 29.7059 10.4796 29.3616 10.2967Z" fill="#298FC2"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M28.5128 9.95712C28.3889 9.92079 28.261 9.88797 28.1299 9.85828C27.998 9.82933 27.8631 9.8037 27.724 9.7812C27.2375 9.70228 26.7044 9.66485 26.1334 9.66485H21.3131C21.1943 9.66485 21.0815 9.69177 20.9807 9.74045C20.7583 9.84777 20.5932 10.0591 20.5532 10.3178L19.5277 16.8391L19.4983 17.0292C19.5657 16.6 19.931 16.2841 20.3644 16.2841H22.1688C25.7125 16.2841 28.4873 14.839 29.2983 10.6587C29.3225 10.535 29.3429 10.4146 29.3611 10.2968C29.156 10.1874 28.9338 10.0939 28.6945 10.0143C28.6353 9.99455 28.5743 9.97556 28.5128 9.95712Z" fill="#22284F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5532 10.3178C20.5932 10.0591 20.7586 9.84779 20.981 9.74121C21.0825 9.69234 21.1945 9.66542 21.3134 9.66542H26.1337C26.7046 9.66542 27.2378 9.70304 27.7243 9.78196C27.8633 9.80427 27.9983 9.83008 28.1301 9.85903C28.2613 9.88854 28.3891 9.92154 28.5131 9.95769C28.5746 9.97613 28.6356 9.9953 28.6952 10.0143C28.9345 10.094 29.1569 10.1882 29.3621 10.2968C29.6034 8.75174 29.3601 7.69976 28.5281 6.74717C27.6108 5.69833 25.9553 5.24951 23.8369 5.24951H17.6868C17.2541 5.24951 16.885 5.56538 16.8181 5.99539L14.2566 22.2984C14.2061 22.6209 14.4538 22.9118 14.7778 22.9118H18.5746L20.5532 10.3178Z" fill="#28356A"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="30" viewBox="0 0 45 30" fill="none">
      <path d="M30.4675 9.83717C29.9132 9.61729 29.0342 9.37451 27.9472 9.37451C25.1723 9.37451 23.2182 10.8542 23.2062 12.9698C23.1832 14.5306 24.6053 15.3976 25.6689 15.918C26.756 16.4498 27.1256 16.7969 27.1256 17.271C27.1145 17.999 26.2471 18.3346 25.4381 18.3346C24.3163 18.3346 23.7152 18.1616 22.8017 17.7565L22.4317 17.5829L22.0384 20.0224C22.6975 20.3226 23.9117 20.589 25.1723 20.6007C28.1207 20.6007 30.0402 19.1439 30.0629 16.8894C30.0741 15.6523 29.3232 14.7044 27.7043 13.9298C26.7215 13.4326 26.1196 13.0973 26.1196 12.5886C26.1311 12.1261 26.6287 11.6523 27.7381 11.6523C28.6516 11.6291 29.3227 11.8487 29.8312 12.0684L30.0853 12.1838L30.4675 9.83717Z" fill="#3362AB"/>
      <path d="M20.2812 20.4388H17.4713L19.2288 9.5715H22.0386L20.2812 20.4388Z" fill="#3362AB"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M37.6706 9.5715H35.4971C34.8269 9.5715 34.3176 9.76787 34.0285 10.4732L29.8547 20.4386H32.803C32.803 20.4386 33.2884 19.0973 33.3928 18.8085H37.0005C37.0812 19.19 37.3358 20.4386 37.3358 20.4386H39.9375L37.6706 9.5715ZM34.2021 16.5889C34.4335 15.9646 35.3239 13.5483 35.3239 13.5483C35.3193 13.5576 35.3555 13.4572 35.4095 13.3075L35.4101 13.3057L35.4106 13.3045C35.4912 13.0809 35.611 12.749 35.6936 12.5079L35.89 13.4443C35.89 13.4443 36.4221 16.0455 36.5377 16.5889H34.2021Z" fill="#3362AB"/>
      <path d="M15.1243 9.5715L12.3725 16.9819L12.0718 15.479L12.0715 15.4781L11.089 10.485C10.9272 9.79092 10.4299 9.59439 9.81715 9.5715H5.29625L5.25 9.79108C6.35263 10.073 7.33883 10.4793 8.20295 10.9845L10.7074 20.4272H13.6789L18.0956 9.5715H15.1243Z" fill="#3362AB"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="30" viewBox="0 0 45 30" fill="none">
      <path d="M37.5 14.8959C37.5 20.0203 33.3541 24.1663 28.2296 24.1663C26.0665 24.1663 24.0837 23.4195 22.5129 22.1834C24.676 20.4839 26.0408 17.8573 26.0408 14.8959C26.0408 11.9345 24.6502 9.3079 22.5129 7.60832C24.0837 6.37227 26.0665 5.62549 28.2296 5.62549C33.3541 5.62549 37.5 9.79716 37.5 14.8959Z" fill="#F79E1B"/>
      <path d="M22.5129 7.60832C22.5129 7.60833 22.5129 7.60832 22.5129 7.60832C24.6502 9.3079 26.0408 11.9345 26.0408 14.8959C26.0408 17.8573 24.676 20.4839 22.5129 22.1834L22.487 22.1834C20.3497 20.5096 18.9592 17.8573 18.9592 14.8959C18.9592 11.9346 20.3498 9.30795 22.4871 7.60838C22.4871 7.60836 22.4871 7.6084 22.4871 7.60838L22.5129 7.60832Z" fill="#FF5F00"/>
      <path d="M18.9592 14.8959C18.9592 11.9346 20.3498 9.30795 22.4871 7.60838C20.9163 6.37233 18.9335 5.62553 16.7704 5.62553C11.6459 5.62553 7.5 9.77145 7.5 14.8959C7.5 20.0204 11.6459 24.1663 16.7704 24.1663C18.9335 24.1663 20.9162 23.4195 22.487 22.1834C20.3497 20.5096 18.9592 17.8573 18.9592 14.8959Z" fill="#EB001B"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="30" viewBox="0 0 45 30" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.60153 10.5005L4.5 19.577H9.4101L10.0188 18.1299H11.4102L12.0189 19.577H17.4235V18.4725L17.9051 19.577H20.7008L21.1824 18.4492V19.577H32.4226L33.7894 18.1674L35.0691 19.577L40.8423 19.5887L36.7279 15.0641L40.8423 10.5005H35.1587L33.8282 11.884L32.5887 10.5005H20.3609L19.3109 12.8432L18.2362 10.5005H13.3364V11.5674L12.7913 10.5005H8.60153ZM25.3865 11.7894H31.8411L33.8153 13.9218L35.8531 11.7894H37.8273L34.8277 15.0628L37.8273 18.2985H35.7636L33.7894 16.1413L31.7412 18.2985H25.3865V11.7894ZM26.9804 14.3268V13.1367H31.0079L32.7653 15.0382L30.93 16.95H26.9804V15.652H30.5017V14.3268H26.9804ZM9.55161 11.7894H11.945L14.6656 17.9442V11.7894H17.2875L19.3888 16.2024L21.3254 11.7894H23.9341V18.3024H22.3467L22.3338 13.1988L20.0195 18.3024H18.5995L16.2723 13.1988V18.3024H13.0067L12.3876 16.8423H9.04283L8.42501 18.3011H6.67533L9.55161 11.7894ZM9.61395 15.4924L10.7159 12.8913L11.8166 15.4924H9.61395Z" fill="#1F72CD"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="30" viewBox="0 0 45 30" fill="none">
      <path d="M42.284 12.4188C42.284 12.3047 42.2045 12.248 42.0786 12.248H41.896V12.795H42.0329V12.5786L42.1927 12.795H42.3525L42.1699 12.5675C42.2384 12.5566 42.284 12.4982 42.284 12.4188ZM42.0566 12.4983H42.0338V12.3503H42.0566C42.125 12.3503 42.1589 12.3731 42.1589 12.4188C42.1589 12.4754 42.125 12.4983 42.0566 12.4983Z" fill="black"/>
      <path d="M42.1004 12.0439C41.8385 12.0439 41.6221 12.2603 41.6221 12.5224C41.6221 12.7845 41.8385 13.0009 42.1004 13.0009C42.3625 13.0009 42.5789 12.7845 42.5789 12.5224C42.5789 12.2603 42.3625 12.0439 42.1004 12.0439ZM42.1004 12.9206C41.8951 12.9206 41.7133 12.7498 41.7133 12.5215C41.7133 12.2934 41.884 12.1225 42.1004 12.1225C42.3059 12.1225 42.4766 12.3051 42.4766 12.5215C42.4766 12.7379 42.3059 12.9206 42.1004 12.9206Z" fill="black"/>
      <path d="M4.78786 12.1797H3V18.4443H4.78786C5.73293 18.4443 6.4168 18.217 7.02036 17.7267C7.73804 17.1341 8.15901 16.2457 8.15901 15.3233C8.14802 13.4671 6.76929 12.1797 4.78786 12.1797ZM6.22322 16.8949C5.83606 17.2363 5.34662 17.3961 4.54864 17.3961H4.21811V13.2507H4.54864C5.33478 13.2507 5.81324 13.3876 6.22322 13.7519C6.64503 14.1281 6.89525 14.7089 6.89525 15.3124C6.89525 15.9159 6.64503 16.5187 6.22322 16.8949Z" fill="black"/>
      <path d="M9.93576 12.1797H8.7168V18.4443H9.93576V12.1797Z" fill="black"/>
      <path d="M12.9194 14.5832C12.1907 14.3102 11.9743 14.1277 11.9743 13.7971C11.9743 13.3982 12.3614 13.1023 12.8856 13.1023C13.2499 13.1023 13.5576 13.2502 13.8653 13.6146L14.5035 12.7828C13.9794 12.3271 13.353 12.0879 12.6581 12.0879C11.5533 12.0879 10.6995 12.8622 10.6995 13.8876C10.6995 14.7532 11.0985 15.197 12.2372 15.6079C12.7157 15.7786 12.9548 15.8927 13.08 15.9612C13.3192 16.121 13.4444 16.3483 13.4444 16.6104C13.4444 17.1227 13.0453 17.4988 12.4993 17.4988C11.9185 17.4988 11.4511 17.203 11.167 16.667L10.3809 17.4303C10.9388 18.2621 11.6226 18.6264 12.5449 18.6264C13.8095 18.6264 14.709 17.7837 14.709 16.5647C14.7317 15.5511 14.31 15.0955 12.921 14.5832H12.9194Z" fill="black"/>
      <path d="M15.1077 15.3237C15.1077 17.169 16.554 18.5926 18.4103 18.5926C18.9345 18.5926 19.3901 18.4904 19.9362 18.2283V16.793C19.4467 17.2824 19.0139 17.4759 18.4669 17.4759C17.2371 17.4759 16.3596 16.5875 16.3596 15.3119C16.3596 14.1048 17.2591 13.1589 18.4095 13.1589C18.9903 13.1589 19.4348 13.3642 19.9353 13.8647V12.4294C19.4002 12.1564 18.9555 12.0422 18.4315 12.0422C16.598 12.0422 15.106 13.5003 15.106 15.322L15.1077 15.3237Z" fill="black"/>
      <path d="M29.6407 16.3944L27.966 12.1797H26.6338L29.2872 18.6041H29.9483L32.6474 12.1797H31.3262L29.6407 16.3944Z" fill="black"/>
      <path d="M33.2051 18.4443H36.6675V17.3851H34.4241V15.6995H36.5881V14.6404H34.4241V13.2507H36.6675V12.1797H33.2051V18.4443Z" fill="black"/>
      <path d="M41.5074 14.0377C41.5074 12.8644 40.6985 12.1924 39.2868 12.1924H37.4761V18.457H38.6951V15.9397H38.8548L40.5405 18.457H42.0442L40.0738 15.8146C40.996 15.621 41.5091 14.9946 41.5091 14.0377H41.5074ZM39.0476 15.0741H38.6942V13.1721H39.0704C39.8337 13.1721 40.2438 13.4908 40.2438 14.1062C40.2438 14.7216 39.8337 15.0741 39.0476 15.0741Z" fill="black"/>
      <path d="M26.9783 15.8716C27.2736 14.0522 26.0382 12.338 24.2188 12.0426C22.3994 11.7473 20.6851 12.9827 20.3898 14.8021C20.0945 16.6215 21.33 18.3358 23.1493 18.6311C24.9687 18.9264 26.6829 17.6909 26.9783 15.8716Z" fill="url(#paint0_linear_171_4329)"/>
      <path opacity="0.65" d="M26.9783 15.8716C27.2736 14.0522 26.0382 12.338 24.2188 12.0426C22.3994 11.7473 20.6851 12.9827 20.3898 14.8021C20.0945 16.6215 21.33 18.3358 23.1493 18.6311C24.9687 18.9264 26.6829 17.6909 26.9783 15.8716Z" fill="url(#paint1_linear_171_4329)"/>
      <defs>
        <linearGradient id="paint0_linear_171_4329" x1="25.3924" y1="18.0065" x2="23.0855" y2="14.3945" gradientUnits="userSpaceOnUse">
          <stop stop-color="#F89F20"/>
          <stop offset="0.25" stop-color="#F79A20"/>
          <stop offset="0.53" stop-color="#F68D20"/>
          <stop offset="0.62" stop-color="#F58720"/>
          <stop offset="0.72" stop-color="#F48120"/>
          <stop offset="1" stop-color="#F37521"/>
        </linearGradient>
        <linearGradient id="paint1_linear_171_4329" x1="25.028" y1="17.9575" x2="21.6569" y2="11.3682" gradientUnits="userSpaceOnUse">
          <stop stop-color="#F58720"/>
          <stop offset="0.36" stop-color="#E16F27"/>
          <stop offset="0.7" stop-color="#D4602C"/>
          <stop offset="0.98" stop-color="#D05B2E"/>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="bottom-content--container">
    <p>Guaranteed Safe Checkout</p>
  </div>
</div>
