.faq-list-v3__container {
  .acr-content .button {
    color: #000;
    text-align: center;
    font-family: var(--font-family-Body, "Aktiv Grotesk");
    font-size: var(--Font-Size-UI-Controls-Control-Button-Small, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-UI-Controls-Control-Button-Small, 16px);
    width: max-content;
    /* margin: 0 0 32px; */
  }
  .accordion-wrapper {
    /* display: grid;
      grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
      grid-gap: 40px; */
    @media (max-width: 786px) {
      /* grid-template-columns: minmax(0px, 1fr);
        grid-gap: 0; */
    }
  }
  .heading {
    /* text-align: center; */
    margin: 0 0 40px 0;
    color: #000;

    /* Headings/H2 */
    font-family: var(--font-family-Title, "Parnaso Display Trial");
    font-size: var(--Font-Size-Heading-H2, 48px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-Heading-H2, 56px); /* 116.667% */
    letter-spacing: -0.96px;
    @media (max-width: 786px) {
      margin: 0 0 16px 0;
    }
  }
  .info {
    img {
      max-width: 400px;
      height: auto;
      @media (max-width: 768px) {
        /* display: none; */
        margin: 16px 0;
      }
    }
  }
  .wrapper {
    width: 100%;
    box-sizing: border-box;
  }
  .accordion--custom {
    box-sizing: border-box;
    margin-bottom: 16px;
    /* padding: 12px 16px; */
    transition: all .15s;
    /* border-bottom: 1px solid #E7E5E4; */
    position: relative;
    @media (max-width: 786px) {
      padding: 12px 0;
    }
  }
  .accordion--custom::after {
    content: "";
    position: absolute;
    bottom: -0;
    left: 0;
    background: #E7E5E4;
    height: 1px;
    width: 100%;
  }
  .accordion--custom.active {    
    padding: 0 0 16px;
    background: var(--Card-Bg, #FFF9F5);
    margin-block: 16px 33px;
    @media (max-width: 786px) {
      /* padding: 16px; */
    }    
  }
  .accordion--custom.active::after {
    bottom: -16px;
  }
  .acr-title {
    box-sizing: border-box;
    padding-bottom: 16px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    background: #fff;
    padding-inline: 16px;
  }
  .faq-question {
    color: #000;
    font-size: var(--Font-Size-Heading-H4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-Heading-H4, 28px);
    letter-spacing: 0;
    margin: 0;
    font-family: var(--font-body-family);
    @media (max-width: 768px) {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0;
        margin: 0;        
    }
  }
  .accordion--custom .acr-title svg {
    transition: all 0.5s ease-in-out;
  }
  .accordion--custom.active .acr-title svg {
    transform-origin: center;
    transition: all 0.5s ease-in-out;
    transform: rotate(180deg);
  }
  .acr-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: Archivo Expanded;
      font-weight: 600;
    }
  }
  .faq__content * {
    color: var(--Color-Gray-500, #78716C);

    /* Paragraph/XS */
    /* font-family: var(--font-family-Body, "Archivo Expanded"); */
    /* font-size: var(--Font-Size-Paragraph-Medium, 16px); */
    padding: 0;
    margin: 16px 0;
    @media (max-width: 768px) {
      /* font-size: 14px;
          line-height: 20px; */
    }
  }
  .faq__content__wrap {
    margin: 16px 0 00;
    padding: 0 16px;  }
  .faq__content h4 {
    color: #000;
    font-family: var(--font-heading-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 250;
    line-height: 18px;
    margin: 12px 0 16px;
    @media (width > 768px) {
      margin: 16px 0 8px;
    }
  }
  .faq__content p {
    color: var(--Color-Gray-500, #78716C);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 0;
    margin: 0;
    @media (max-width: 768px) {
      /* font-size: 14px;
          line-height: 20px; */
    }
  }

  .accordion--custom .acr-content {
    height: auto; /* Ensures expanded content is visible */
    transition: height 0.3s ease;
  }
  .matched-faqs {
    padding-block: 16px 0;
    @media (max-width: 768px) {
      padding-block: 16px 0;
    }
  }
  /* New styles for tabs */
  .tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: var(--Spacing-Container-lg, 32px);
    align-items: flex-start;
    gap: var(--Spacing-Container-xs, 12px);
    align-self: stretch;
    @media (max-width: 786px) {
      flex-wrap: unset;
      overflow-x: auto;
    }
  }

  .tab {
    min-width: fit-content;
    color: #000;
    font-family: var(--font-family-Body, Archivo);
    font-size: var(--Font-Size-Paragraph-Regular, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-Paragraph-Regular, 16px);
    display: flex;
    padding: 10px var(--Spacing-Container-md, 16px)
      var(--Spacing-Container-xxs, 8px) var(--Spacing-Container-md, 16px);
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--rounded-none, 0px);
    border: 1px solid rgba(209, 213, 219, 0.5);
    background: #f9fafb;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    @media (max-width: 786px) {
      font-size: 14px;
      padding: 6px 12px;
    }
  }

  .tab.active {
    border-radius: var(--rounded-none, 0px);
    background: var(--Background-inverted-main, #1f2937);
    color: var(--Content-Inverted-main, #f3f4f6);
  }

  /* Adjust accordion wrapper for single-column layout with tabs */
  .accordion-wrapper-first--hs {
    grid-column: span 2;
    @media (max-width: 786px) {
      grid-column: span 1;
    }
  }

  /* Hide matched-faqs in faq-list section */
  .matched-faqs {
    display: none;
  }
}
